body {
	margin: 0;
}

.site-content-contain  {
	background: none !important;
}

#content {
	padding: 0 !important;
}

footer {
	margin: 0 !important;
}

.QR-code {
	position: fixed;
    height: 100%;
    width: 100%;
    background: #dcdcdc;
}